* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img 
  {
    width:60%;
    height: 70%;
    position: fixed;
    top:10%;
    right: 0%;
    left:-3%;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fde79b;
  }

  
  .container {
    gap: 2rem;
  }
  
  .form-box {
    background: transparent;
    border-radius: 20px;
    padding: 3%;
    width: 32%;
    height: 70%;
    margin-top: 7%;
    margin-left: 50%;
    box-shadow: 0px 0px  20px rgba(0, 0, 0, 0.372);
    position:fixed;
  }

  .form-box1 {
    background: transparent;
    border-radius: 20px;
    padding: 3%;
    padding-left: 3%;
    padding-right: 3%;
    width: 33%;
    margin-top: 0.8%;
    margin-left: 5%;
    height: 97%;
    box-shadow: 0px 0px  20px rgba(0, 0, 0, 0.372);
    position:fixed;

  }
  
  h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 1.7rem;
    margin-bottom: 0.5%;
    color: #333;
    text-align: center;
  }

  .df
  {
    font-size: 1.7rem;
    margin-bottom: 0.5%;
    color: #333;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  .login-form
  {
    margin-top: 30px;
  }
  .input-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
  }
  .input-group textarea {
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
  }
  .btn1 {
    width: 100%;
    background-color: #0052cc;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .forgot {
    font-size: 0.6rem;
    color: #0052cc;
    display: block;
    margin-bottom: 1rem;
    text-align:right ;
  }
  
          /* Full-Screen Preloader */
          #preloader {
            position: fixed;
            width: 100%;
            height: 200%;
            background:white;
            display: flex;
            justify-content: center;
           
            z-index: 1000;
        }

        
        /* Loader Image */
        .loader-image {
           
            width: 40%; /* Adjust the size as needed */
            height: 40%;
            margin-left: 35%;
            margin-top: 10%;
        }
        
        /* Hide Content Initially */
        .content {
            display: none;
        }

  
  p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: -1px;
  }
  
  a {
    color: #0052cc;
    text-decoration: none;
  }

@media (max-width:500px)
{
    img 
    {
      width:70%;
      height: 30%;
      margin-left: 15%;
      margin-top: -10%;
      position: fixed;
      top:0%;
      right: 0%;
      left:0%;
    }
    .form-box
    {
      margin-top: 35%;
      margin-left: 10%;
      padding: 10%;
      width: 80%;
      height: 72%;
      position: fixed;
      top:0%;
      right: 0%;
      left:0%;
    }
    .form-box1
    {
      margin-top: 30% ;
      margin-left: 10%;
      padding: 10%;
      width: 80%;
      height: 82%;
      position: fixed;
      top:0%;
      right: 0%;
      left:0%;

    }
    
}  
  
  